.banner-about {
  background-color: #228896;
  background-image: url("https://res.cloudinary.com/dgjvosgwy/image/upload/v1670510112/development/hands_e9tw49.jpg");
  padding: 3% 10% 3% 10%;
  background-size: cover;
  text-align: center;
  display: inherit;
}
h3.about-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  margin-top: 5%;
  color: #FFFFFF;
}
img.img-about {
  width: 100%;
  align-content: justify;
  padding: 20px;
}
.about-us {
  background-color: #228896;
  border-radius: 20px;
  opacity: 95%;
  width: 50%;
  height: 50%;
  display: inline-grid;
  padding: 1% 5% 5% 5%;
}
p.about-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  background-color: none;
  text-align: justify;
}

div.about-btn {
  padding: 15px;
  box-sizing: content-box;

  a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;;
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
