<div class="container">
<% @questions.each do |question| %>
  <h4><%= question.content %></h4>
  <%= simple_form_for(@user_answer) do |f| %>
    <%= f.association :answer, as: :radio_buttons, collection: question.answers.pluck(:content) %>
    <%= f.submit %>
  <% end %>
<% end %>
</div>
