<div class="container">
  <div class="menu-steps">
    <div class="btn-step step-1 active-menu">Step 1<span> </span></div>
    <div class="btn-step step-2">Step 2<span> </span></div>
    <div class="btn-step step-3">Step 3<span></span></div>
    <div class="btn-step step-4">Step 4<span></span></div>
  	<div class="btn-step conclude">Step 5<span></span></div>
    <div class="btn-step step-2">Step 6<span> </span></div>
    <div class="btn-step step-3">Step 7<span></span></div>
    <div class="btn-step step-4">Step 8<span></span></div>
  	<div class="btn-step conclude">Step 9<span></span></div>
    <div class="btn-step conclude">Step 10<span></span></div>
  </div>

  <div id="step-1" class="step-content active">
    <h3>1 - Are quotes for blacks in universities and contests a good solution to correct the mistakes that Brazil made
    in the past against this part of the population?</h3>
    <form id="question-1">
      <div>
        <input type="radio" name="option-1" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-1" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-1" value="1">
        <label for="">Disagree</label>
      </div>
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

  <div id="step-2" class="step-content">
    <h3>2 - Is the defense of Human Rights fundamental to combat injustices in society?</h3>
    <form id="question-2">
      <div>
        <input type="radio" name="option-2" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-2" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-2" value="1">
        <label for="">Disagree</label>
      </div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

  <div id="step-3" class="step-content">
    <h3>3 - Should the government promote economic growth, using public resources to help companies grow?</h3>
    <form id="question-3">
      <div>
        <input type="radio" name="option-3" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-3" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-3" value="1">
        <label for="">Disagree</label>
      </div>
  		<input type="button" class="btn-back" name="Back" value="Back">
  		<input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

  <div id="step-4" class="step-content">
    <h3>4 - Does the Brazilian government have an obligation to pay permanent cash assistance to the poorest?</h3>
    <form id="question-4">
      <div>
        <input type="radio" name="option-4" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-4" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-4" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

    <div id="step-5" class="step-content">
    <h3>4 - Is it important to discuss the liberalization of some drugs as an alternative to fight crime?</h3>
    <form id="question-5">
      <div>
        <input type="radio" name="option-5" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-5" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-5" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

    <div id="step-6" class="step-content">
    <h3>6 - Should non-violent prisoners be released from prison to reduce overcrowding?</h3>
    <form id="question-6">
      <div>
        <input type="radio" name="option-6" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-6" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-6" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

    <div id="step-7" class="step-content">
    <h3>7 - Religion should not interfere in state decisions!</h3>
    <form id="question-7">
      <div>
        <input type="radio" name="option-7" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-7" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-7" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

    <div id="step-8" class="step-content">
    <h3>8 - Abortion is not a matter of ideology but of public health?</h3>
    <form id="question-8">
      <div>
        <input type="radio" name="option-8" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-8" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-8" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

    <div id="step-9" class="step-content">
    <h3>9 - Pensions for family members of the armed forces must be reviewed so that there is money left for the Federal
     Government?</h3>
    <form id="question-9">
      <div>
        <input type="radio" name="option-9" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-9" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-9" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

      <h3>10 - Should marriage always be between people who love each other regardless of gender?</h3>
    <form id="question-10">
      <div>
        <input type="radio" name="option-10" value="2">
        <label for="">Agree</label>
      </div>
      <div>
        <input type="radio" name="option-10" value="0">
        <label for="">Whatever</label>
      </div>
      <div>
        <input type="radio" name="option-10" value="1">
        <label for="">Disagree</label>
      </div>
      <div>
      <input type="button" class="btn-back" name="Back" value="Back">
      <input type="button" class="btn-next" name="Next" value="Next" disabled="disabled">
    </form>
  </div>

 <div id="conclude" class="step-content">
    <h3>5 - Cras at laoreet metus, semper fringilla velit.</h3>
    <p>Nulla condimentum dui felis, id posuere orci lacinia tincidunt.</p>
    <form id="form-conclude">
  		<div>
  			<label for="">Morbi mi nulla, laoreet lobortis enim vel, commodo faucibus sapien.</label>
  			<input type="text" name="income" value="" placeholder="Income" id="income">
  		</div>
      <div>
        <label for="">Aliquam consectetur porttitor aliquam? </label>
      	<input type="text" name="patrimony" value="" placeholder="Patrimony" id="patrimony">
      </div>
      <div>
  			<input type="checkbox" name="" value="" id="check-validate">
        <label for="">Suspendisse facilisis, metus nec mollis scelerisque, ipsum diam vestibulum massa, sed lacinia tortor neque ac massa.</label>
  			<br/>
      </div>
      <input type="button" class="btn-back" name="Back" value="Back">
  		<input type="button" class="btn-conclude" name="Conclude" value="Conclude" disabled="disabled">
    </form>
  </div>

  <div id="result" class="step-content">
    <h3>Result</h3>
    <p>Donec lobortis aliquam mi ac laoreet.</p>
		<form>
      <div>
        <label for="">Income value</label>
				<input type="text" name="" value="" id="income-value" readonly>
      </div>
  		<div>
				<label for="">Patrimony value</label>
				<input type="text" name="" value="" id="patrimony-value" readonly>
  		</div>
		</form>
    <div>
      <p>Maecenas mi eros, finibus eu faucibus sed, viverra sed quam. </p>
			<p>Lorem ipsum sit ammet.</p>
    </div>
  </div>
</div>
