<div class="container">
 <h4><%= @question.content %></h4>
  <%= simple_form_for(UserAnswer.new) do |f| %>
    <%= f.association :answer, as: :radio_buttons, collection: @question.answers.pluck(:content) %>
    <%= f.submit %>
  <% end %>
</div>
