<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner-2-search">

  <h1 class="title-search-show">Policy news</h1>

    <div class="container-link">
      <%= link_to "Click to search all candidates", searches_path %>
    </div>
</div>
