.home-banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
}

.home-container {
  h1 {
  color: white;
  // font-size: 80px;
  // font-weight: bolder;
  // text-shadow: 2px 2px 4px black;
  }

  p {
  color: white ;
  margin-top: 2rem;
  font-size: 10px;
  font-weight: medium;
  text-shadow: none;
  }
}

// /* Get started */

.btn.btn-lg.btn-primary {
  // width: 344px;
  // height: 88px;
  padding: 35px 60px;
  background: #3F4E4F;
  border-radius: 10px;
  text-align: center;
}
