
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
  background-color: #228896;
  background-image: url("https://res.cloudinary.com/dgjvosgwy/image/upload/v1670508250/development/background-elect_zou6xq.png");
  padding-top: 200px;
  padding-bottom: 160px;
  background-size: cover;
  text-align: center;
  }

 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  color: black;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  background-color: white;
  padding-block: 16px;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 50px;
  padding-right: 16px;
  }



  p {
  color: black;
  margin-top: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  }


// /* Get started */

  .btn.btn-lg.btn-primary {
  padding: 16px 16px;
  background: white;
  color: black;
  }

// # FIXA O FOOTER E NAVBAR #

  .page-container-home {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }

  .page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    }

  .btn-flat {
    margin-top: 85px;
    background: black;
    color: white;
    border-radius: 18px;
  }
