.home-banner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // padding-top: 280px;
  text-align: center;
  background-size: cover;
}

.home-container {
  h1 {
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  }

  p {
  color: black;
  margin-top: 2rem;
  font-size: 10px;
  font-weight: medium;
  text-shadow: none;
  }
}

// /* Get started */

.btn.btn-lg.btn-primary {
  // width: 344px;
  // height: 88px;
  padding: 16px 16px;
  background: #3F4E4F;
  border-radius: 10px;
  text-align: center;
}

// # FIXA O FOOTER E NAVBAR #

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
