body {
  font-family: "Lato", sans-serif;
}
/*.has-passed{}*/
.container {
  min-width: 360px;
  width: auto;
  max-width: 940px;
  margin: 0 auto;
}
.active{
  display: block !important;
}

.none{
  display: none;
}

.active-menu{
  background: orange !important;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 69px;
}

.next{
  border: 2px solid blue;
}

/* Style the tab */
.menu-steps {
    overflow: hidden;
    margin-bottom: 40px;
}

/* Style the buttons inside the tab */
.menu-steps .btn-step {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 0px;
    width: 20px;
    height: 23px;
    background: #ccc;
    border-radius: 70px;
    position: relative;
    margin-right: 136px;
}

.menu-steps .btn-step.active {
    background-color: #ccc;
}
.menu-steps .btn-step.active-menu span {
    border-top: 4px solid orange;
    position: absolute;
    width: 137px;
    top: 26px;
    left: 51px;
}
.menu-steps .btn-step:last-child span {
  border-top: none;
}
.menu-steps .btn-step span {
    border-top: 4px solid #ccc;
    position: absolute;
    width: 137px;
    top: 26px;
    left: 51px;
}


/* Style the tab content */
.step-content{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.step-content form div {
    margin-bottom: 30px;
}
.step-content form label {
  color: #666;
}

.step-content h3{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.step-content p {
  color: #666;
}

.btn-next[disabled='disabled'],
.btn-conclude[disabled='disabled']{
  background: #ccc;
  color: #fff;
}

.btn-next {
  background: #003767;
  color: #fff;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 7px;
}

.btn-back {
  color: #fff;
  width: 55px;
  height: 30px;
  border: none;
  background: #A2A2A2;
  border-radius: 7px;
  margin-right: 10px;
}

.btn-conclude{
    background: #003767;
    color: #fff;
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 7px;
}

#conclude #form-conclude{}
#conclude #form-conclude input[type='text']{
  display: block;
  margin: 10px auto 20px 0px;
}

#result{
  display: none;
}
