<div class="master-container pt-1 pb-1" style="background-color: #cd9046;>

  <div class="container mt-5 mb-5">

    <h2 class="text-center my-4" style="color: #FFFFFF; font-weight: 500">See below all the candidates that match your profile</h2>

    <div class="row justify-content-evenly mx-5 my-5">

          <div class="col-2">

            <div class="card mt-4" style="text-align:center; width: 12rem; height: 32rem">

                <img src="https://www.camara.leg.br/internet/deputado/bandep/204535.jpgmaior.jpg" alt="">

              <div class="card-body">
                <p class="card-text"> Samia Bomfim <br/>
                <p class="card-text"> Rio de Janeiro <br/>
                <p class="card-text"> PSOL <br/>
                <p class="card-text"> Similarities: 89% <br/>
              </div>

            </div>

          </div>

          <div class="col-2">

            <div class="card mt-4" style="text-align:center; width: 12rem; height: 32rem;">

                <img src='https://www.camara.leg.br/internet/deputado/bandep/204464.jpgmaior.jpg' alt="">

              <div class="card-body">
                <p class="card-text"> Talíria Petrone </p>
                <p class="card-text"> Rio de Janeiro </p>
                <p class="card-text"> PSOL </p>
                <p class="card-text"> Similarities: 78% </p>
              </div>

            </div>

          </div>

          <div class="col-2">

            <div class="card mt-4" style="text-align:center; width: 12rem; height: 32rem;">

                <img src="https://www.camara.leg.br/internet/deputado/bandep/73701.jpgmaior.jpg" alt="">

              <div class="card-body">
                <p class="card-text"> Benedita da Silva </p>
                <p class="card-text"> Rio de Janeiro </p>
                <p class="card-text"> PT</p>
                <p class="card-text"> Similarities: 67% </p>
              </div>

            </div>

          </div>

          <div class="col-2">

            <div class="card mt-4" style="text-align:center; width: 12rem; height: 32rem;">

                <img src="https://www.camara.leg.br/internet/deputado/bandep/178945.jpgmaior.jpg" alt="">

              <div class="card-body">
                <p class="card-text"> Rosangela Gomes </p>
                <p class="card-text"> Rio de Janeiro </p>
                <p class="card-text"> Republicanos </p>
                <p class="card-text"> Similarities: 56% </p>
              </div>

            </div>

          </div>

          <div class="col-2">

            <div class="card mt-4" style="text-align:center; width: 12rem; height: 32rem;">

                <img src="https://www.camara.leg.br/internet/deputado/bandep/204447.jpgmaior.jpg" alt="">

              <div class="card-body">
                <p class="card-text"> Flordelis </p>
                <p class="card-text"> Rio de Janeiro </p>
                <p class="card-text"> PSD </p>
                <p class="card-text"> Similarities: 4% </p>
              </div>

            </div>

          </div>

    </div>

    <div class="row justify-content-end">
      <div class="col-2">
        <a><%= link_to "See all candidates", searches_path, class: "btn btn-flat mb-2 mt-2" %></a>
      </div>
    </div>

  </div>

</div>
