.title-search-index  {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding: 4px;
  margin-top: 2%;
  color: #FFFFFF;
}

.banner-search-index {
  background: #228896;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// # # #  FORMS DE PESQUISA # # #

.container-search-index {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  display: inline;
  color:#FFFFFF;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */;

}

.row-search-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: initial;
  margin: 4rem;
}

.selects {
  padding: 15px;
  display: inline-block;
}

// # # #  BOTÃO SEARCH  # # #
.selects-search {
  display: inline;
}
