.title {
  font-family: 'Montserrat';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  padding: 40px;
  color: #2C3639;
}

.banner-2-search {
  background: #DCD7C9;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// # # #  FORMS DE PESQUISA # # #

.container-search-new {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  display: inline;
 }


  .selects {
    padding: 15px;
    box-sizing: content-box;
    display: inline-block;
  }

  .selects-search {
    display: inline;
    background-color: #2C3639;
    color: #ffffff;
  }
}

