.banner-2-search {
  background: #DCD7C9;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Montserrat';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  padding: 40px;
  color: #2C3639;
}

.container-search-show {
  padding: 15px;
  box-sizing: content-box;
  text-align: center;
}

.container-link {
  padding: 15px;
  box-sizing: content-box;
  margin-top: 50px;

  a {
    font-family: 'Montserrat';
    text-align: left;
    font-size: 20px;
    color: #2C3639;
    text-decoration: none;
  }
}

// # # # CARDS # # #

.card.mt-4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  box-sizing: content-box;
  width: 80px;
  height: 340px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 15px 15px 15px 15px;
  border: 0.5px solid #777676;
  background: #FFFFFF;

  img{
    box-sizing: border-box;
    border-radius: 10px;
  }

  .card-body {
    box-sizing:border-box;
    width: 160px;
    height: 160px;
    padding: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    display:contents;
  }
}
