.banner-search-show {
  background: #228896;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-search-show {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding: 30px;
  margin-top: 5%;
  color: black;
}

.container-search-show {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}


.col-2.search-show {
  display: inline-table;
}

// # # # CARDS # # #

.card.mt-4 {
  border-radius: 15px 15px 15px 15px;
  border: 0.5px solid #777676;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  padding: 15px;
  background: #FFFFFF;
}

.img-search-show{
  box-sizing: border-box;
  border-radius: 10px;
}

.card-body-search-show{
  margin: 1rem 0;
  width: 100%;
  height: 100%;
}
.card-text-search-show {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
  display: contents;
  color: black;
}

.icons-search {
  // padding: 2px;
  margin-right: 2px;
}


// # # RETURN BUTTON ##

.show-search-btn {
  padding: 15px;
  box-sizing: content-box;

  a {
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
