
<div class="footer-container">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/lanarosatech/elect" target="_blank"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="address">
      <p>Ipanema Business</p>
      <p>R. Visc. de Pirajá, 142 - sala 30x - Ipanema, Rio de Janeiro</p>
    </div>
  </div>
</div>
