<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="_home.scss">
  </head>
  <body>
    <%= content_for(:navbar_class, "navbar-home") %>
      <div class="hero">
          <h1 class="slogan">Elect yourself or who votes as you would</h1>
            <div class="home-btn">
              <p>  <%= link_to "Get Started", questions_path, class: "btn btn-lg btn btn-flat" %> </p>
            </div>
      </div>
  </body>
</html>
