<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="backgroud-image">
    <div class="banner-content text-center">
      <%= link_to "Get Started", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
