<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(https://res.cloudinary.com/dgjvosgwy/image/upload/v1670508250/development/background-elect_zou6xq.png); background-size: cover;">
  <div class="container" style="padding: 0 12px;">
    <h1 class="slogan">Match with the candidates that fit your political view!</h1>
    <div class="home-btn">
      <p><%= link_to "Get Started", question_path(1), class: "btn btn-lg btn btn-flat" %></p>
    </div>
  </div>
</div>
