.title {
  font-family: 'Montserrat';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  padding: 40px;
  color: #2C3639;
}

.banner-2-search {
  background: #DCD7C9;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
