.banner {
  background-size:auto;
  background-position: center;
  height: 84vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner h1 {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  color: #fff;
  text-shadow: 2px 2px #228896;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
}

.banner p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
  font-size: 2rem !important;
  font-style: normal;
  font-weight: 600;
}
