.btn.btn-home {
  padding: 0.6rem 1.2rem;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #fff;
  transition: ease-in-out 0.5s;
}

.btn.btn-home:hover {
  border: 2px solid #fff;
}

.btn-signin {
  padding: 0.5rem 1.2rem !important;
  background: #000;
  color: #fff;
  font-size: 1rem !important;
  border-radius: 4px;
  border: 1px solid #fff;
}

.btn-signin:hover {
  border: 2px solid #fff;
}

.btn.btn-next {
  padding: 0.5rem 0.8rem;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 16px;
}

.btn-check-candidates {
  padding: 0.5rem 0.8rem;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 16px;
}

.btn.btn-index {
  padding: 0.5rem 0.8rem;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 16px;
}

.btn-share-link {
  color:#d1d1d1;
  border-radius: 50px;
  background: black;
  margin-top: 0px;
}
