.btn.btn-home {
  padding: 1.2rem 1.6rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 32px;
}

.btn.btn-next {
  padding: 0.5rem 0.8rem;
  background: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 16px;
}

.btn-share-link {
  color:#d1d1d1;
  border-radius: 50px;
  background: black;
  margin-top: 0px;

  // transition: background 0.3s ease;
}

.btn-check-candidates {
  color:#d1d1d1;
  border-radius: 50px;
  background: black;
  margin-top: 30px;
}
// .btn-flat:hover {
//   box-shadow: 0 4px 8px rgb(64, 78, 79);
// }

.question-img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 44% !important;
}
