.btn-flat {
  color: $btn-font;
  padding: 8px 16px;
  border-radius: 8px;
  background: $btn-color;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  box-shadow: 0 4px 8px rgb(64, 78, 79);
}
