.form-label {
  margin: 8px 0 8px 0;
  font-weight: bold;
  font-size: 20px;
  color:black;
  text-align: left;
}

.form-control {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 10px;
}

h2 {
  font-weight: bold;
}

.form-select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 10px;
}

.form-text {
  color: black;
}
