.form-label {
  margin: 8px 0 8px 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#3D3C42;
}

.form-control {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 10px;
}

h2 {
  margin-top: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#custom-btn {
  border-color: #3d3c42;
  background-color:#3D3C42;
  color: white;
  border-radius: 10px;
}

.form-select {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 10px;
}
