/* Footer */

.footer-container {
  position: absolute;
  width: 1512px;
  height: 100px;
  left: 0px;
  top: 880px;

  background: #2C3639;
}

.address {
  position: absolute;
  left: 3.7%;
  right: 58%;
  top: 24%;
  bottom: 24%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  color: #FFFFFF;
}

.footer-links{
  position: absolute;
  left: 81.81%;
  right: 16.34%;
  top: 36%;
  bottom: 36%;

  background: #FFFFFF;
}

.fa-brands.fa-instagram, .fa-brands.fa-twitter, .fa-brands.fa-facebook, .fa-brands.fa-linkedin {
  position: absolute;
  left: 85.71%;
  right: 12.24%;
  top: 37%;
  bottom: 37%;

  background: #FFFFFF;
}
