
.footer {
  background: #2C3639;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  // line-height: 20px;
  color: #b0b1b5
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFFFFF;
  opacity: 0.15;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #FFFFFF;
}
