// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "devise";
@import "footer";


.title {
  font-family: 'Montserrat';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

// # # # CARDS # # #

.row {
  margin: auto;
  display: inline-table;
  padding: 10px;
}

.col {
  float: left;
  width: 5%;
  padding: 0 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  box-sizing: content-box;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 15px 15px 15px 15px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
}

// # # #  FORMS DE PESQUISA # # #

.row-form {
  display: inline-table;
  padding: 10px;
  float: center;
  text-align: center;
}

.col-form {
  width: 5%;
  padding: 0 15px;
  text-align: center;
}

.form-search {
  text-align: center;
}

.btn.btn-secondary.dropdown-toggle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(53, 53, 55);
  border: none;
  color: #DCD7C9;
  padding: 15px 32px;
  font-family: 'Montserrat';
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

}
