.navbar-lewagon {
  justify-content: space-between;
  background: black;
  width: 100vw;
  height: 8vh;
  left: 0px;
  top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .nav-link, li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
   'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 83% */
  color: #d1d1d1;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 20px;
  top: 9px;
}

.nav-item {
  align-self: center;
  margin: 0 16px 0 8px;
}

.img-logo a:hover{
  height: 15px;
}
