.navbar-lewagon {
  justify-content: space-between;
  background: #2C3639;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 2px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .nav-link, li {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 83% */

  color: #FFFFFF;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  width: 135px;
  height: 73px;
  left: 20px;
  top: 13px;
}
